.App {
  text-align: center;


}

.title{
  font-weight: bold;
		color: #069;
    font-family: 'Roboto';
}


#nav {
  text-align: right;
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none; }
#nav ol {
	float: right; }

#nav ol {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc; }

#nav ol a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc; }


	
.background{
	background-image: url('./images/background.png');
	background-repeat: no-repeat;
	height: 400px
}